# Database 
# Troque a connection string para apontar para qualquer banco 
DATABASE_URL=postgresql://postgres.[PROJECT_REF]:[PASSWORD]@aws-0-sa-east-1.pooler.supabase.com:6543/postgres

DB_HOST=aws-0-sa-east-1.pooler.supabase.com
DB_PORT=6543
DB_USER=postgres.[PROJECT_REF]
DB_PASSWORD=[PASSWORD]
DB_NAME=postgres

# JWT
JWT_SECRET=sua-chave-secreta-aqui-troque-em-producao
JWT_EXPIRATION=7d

# App 
PORT=3000
# development | homologation | production
NODE_ENV=development

# CORS
CORS_ORIGIN=http://localhost:3000,http://localhost:8080

# Email (SMTP)
# Defina MAIL_ENABLED=true para envio real de email
MAIL_ENABLED=false
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=seu-email@provedor.com
MAIL_PASSWORD=sua-senha-ou-app-password
MAIL_FROM=Jacaloria <no-reply@jacaloria.com>
